@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@700&display=swap');

/*FONTS: 'Montserrat','Oswald'*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
h1 {
    text-transform: capitalize;
    color: #fff;
}
a{
    text-decoration: none;
    color: #fff;
}
h3 {
    font-size: 30px;
}
h4{
    color: #fff;
    text-transform: capitalize;
    font-size: 20px;
}
span {
    color: #DED9CE;
    font-weight: bold;
    text-transform: capitalize;
}
p {
    line-height: 1.6;
    font-size: 24px;
    font-family: 'Monserrat',sans-serif;
}
img {
    max-width: 100%;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 85%;
}
header {
    font-family: 'Oswald',sans-serif;
    font-size: 18px;
    background: #2E323F;
    text-align: center;
    padding: .2em 0;
}
.nav_toggle_button {
    cursor: pointer;
    border: 0;
    width: 3em;
    height: 3em;
    transition: opacity 250ms ease;
    position: absolute;
    left: .5em;
    top: .5em;
    background-color: #2E323F;
}
.nav_toggle_button:hover {
    opacity: .75;
    transition: 150ms ease-in;
}
.fa-bars {
    font-size: 2em;
    color: #fff;
}

.nav {
    visibility: hidden;
    position: absolute;
}
.nav--visible {
    visibility: visible;
    height: auto;
    position: relative;
} 
.nav_list {
    list-style: none;
}
.nav_item {
    text-transform: uppercase;
    margin-top: .8em;
}
.nav_item:hover {
    opacity: .75;
}
.hero {
    background: #3B4050;
    padding: 2em 0;
}

.hero_content {
    color: #fff;
    margin-top: 1em;
    font-family: 'Montserrat',sans-serif;
}
.button_hero {
    background: #A59678;
    font-size: 24px;
    text-transform: capitalize;
    border-radius: 2em;
    border: none;
    padding: .125em 1em;
    font-weight: bold;
    margin-top: 1em;
    font-family: 'Oswald',sans-serif;
    cursor: pointer;
}
.button_hero:hover {
    opacity: .75;
    transition: 150ms ease-in;
    border: 1px solid #fff;
}
.section_2 {
    background: #6F737F;
    font-family: 'Oswald',sans-serif;
    padding: 1em 0;
}
.responsive_web {text-transform: capitalize;}
.button_link_certificate {
    background: none;
    border: none;
}
.title_dark {
    color:  #FAFAFA;
    font-size: 30px;
    text-transform: uppercase;
}
.col p {
    font-family: 'Monserrat',sans-serif;
    font-size: 18px;
    color: #fff;
}
.education_background {
    text-transform: capitalize;
}
.certicate-link {
    text-decoration: underline;
    color: lightskyblue;
}
.certicate-link:hover,:focus{
    color: black;
}
.main {
    padding: 1em 0;
}
.section_3 {
    font-family: 'Oswald',sans-serif;
}
.img-travel {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
}
.img-travel + .img-travel {
    margin-top: 1em;
}
.title_dark-main {
    font-size: 36px;
}
.side_content {
    color: #fff;
    font-family: 'Oswarld',sans-serif;
    margin-top: 1em;
}
.title_light {
    font-size: 30px;
    text-transform: capitalize;
}

.hobbies_list,
.skills_list {
    list-style: none;
    text-transform: capitalize;
    font-size: 18px;
    margin-top: .5em;
    line-height: 1.5em;
}
.hobbies_list .hobbies_item i {
    color: #fff;
}
.project-title {
    text-transform: capitalize;
    margin-top: .5em;
}
.col_side {
    background: #3B4050;
    padding: 1em;
}
.col_side + .col_side {
    margin-top: 1em;
}

footer {
    background: #3B4050;
    padding: 1em 1em 0 1em;
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
}
.list_footer {
    list-style: none;
    line-height: 1.7;
}
.list_item-footer {
    font-size: 16px;
    font-family: 'Monserrat',sans-serif;
    color: #fff;
}
.btn_bck_top {
    border: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: none;
}
.fa-space-awesome {
    color: #fff;
    font-size: 2em;
}
.back_to_top {
    text-decoration: underline;
    color: #fff;
}
.back_to_top:hover {
    color: lightskyblue;
}
.address {
    text-transform: capitalize;
}
.title_dark-main {
    color: #6F737F;
}

@media screen and (min-width: 700px) {
    .nav_toggle_button {
        display: none;
    }
    .nav {
        visibility: visible;
        position: static;
    }
    .nav_list {
        display: flex;
    }
    .nav_item + .nav_item {
        margin-left: 1em;
    }
    .hero_section {
        padding: 5em 0;
    }
    .hero_content {
        margin: 0;
    }
    .section_2 {
        padding: 3em 0;
    }
    .row {
        display: flex;
        justify-content: space-between;
    }
    .img_profile {
        margin-right: 2em;
    }
    .side_content {
        margin-left: 1em;
        margin-top: 3.3em;
    }
    .list_item-footer {
        margin-top: 1em;
    }

}

@media screen and (min-width: 1000px) {
    .section_3 {
        display: flex;
        gap: 1em;
    }
    .img-travel + .img-travel {
        margin-top: 0;
    }
    .side_content {
        display: flex;
        gap: 1em;
        margin-top: 1.5em;
        margin-left: 0;
    }
    .side_content > * {
        flex-basis: 100%;
    }
    .col_side + .col_side {
        margin-top: 0;
    }
    footer {
        background: #3B4050;
        padding: 1em 1em;
        margin-top: 1em;
        display: flex;
        justify-content: space-between;
    }
    .btn_bck_top {
        border: none;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background: none;
        margin-right: 2em;
    }
    .list_footer {
        list-style: none;
        margin-bottom: .3em;
        line-height: 1.7;
        display: flex;
        gap: 2em;
    }
}